<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_object.name }}</h1>
            <p> <a href="{% url 'edit_todo_list' todo_list_object.id %}"> Edit</p></a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in todo_list_object.items.all %}
                    <td> <a href="{% url 'todo_list_list' %}">{{item.task}}  </td></a>
                    <td> {{ item.due_date}} </tr>
                    </tr>
                    {% endfor %}
                    
                       
                        
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
